* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/******** NAVIGATION ********/
header {
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

@media only screen and (max-width: 991px) {
    .main-nav-link-first {
        border-top: 1px solid #AEB0BF;
    }

    ul.second-ul {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }

    ul.second-ul li {
        padding-right: 30px;
    }

    .link-arrow {
        padding-right: 10px;
    }

}

/*Navbar scroll effect*/
@media (min-width: 991px) {
    nav {
        transition: all 0.4s ease;
        height: 80px;
    }
}

nav.sticky {
    height: 55px;
}

/*Main links*/
.main-nav-link a {
    font-size: 15px;
    color: #000;
}

/*Main links hover effect*/
@media (min-width: 991px) {
    .main-nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #322893;
        transition: width .3s;
    }

    .main-nav-link:hover::after {
        width: 100%;
    }

    .link-arrow {
        display: none;
    }
}

/*Social links*/
.social-link {
    font-size: 30px;
}

.fb-icon {
    color: #3b5998;
}

.inst-icon {
    color: #cd486b;
}


.yt-icon {
    color: #c4302b;
}

.fb-icon:hover {
    color: #2a4887;
}


.inst-icon:hover {
    color: #bc375a;
}

.yt-icon:hover {
    color: #b3201a;
}




/*Logo*/
a.logo {
    color: #322893;
}

.navbar-logo-img {
    width: 50px;
    height: 50px;
}

/******** NAVIGATION END ********/


/******** MAIN ********/
/******** WEATHER SECTION START********/
.weather-section {
    background: url("../img/bg.jpg") no-repeat;
    background-position: bottom center;
    background-size: cover;
    min-height: 440px;
    color: #fff;
}

h2.city-title {
    font-size: 40px;
}

.main-info-icon {
    font-size: 110px;
}

.location-input {
    height: 50px;
    font-size: 15px;
}

@media (max-width: 1100px) {
    .main-info-icon {
        height: 80px;
    }
}

.small-info {
    color: #aeb0bf;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}

.next-day-icon {
    height: 110px;
}

@media (max-width: 1300px) {
    .next-day-icon {
        height: 90px;
    }
}

.cities-list {
    list-style: circle;
    column-count: 2;
}

@media (min-width: 576px) {
    .cities-list {
        column-count: 5;
    }
}

@media (min-width: 992px) {
    .cities-list {
        column-count: 2;
    }
}

ul.cities-list li {
    padding: 5px 0;
    cursor: pointer;
    user-select: none;
}

.checked-li {
    list-style: disc;
}

ul.cities-list li:hover {
    list-style: disc;
}

.main-info-temperature {
    font-size: 60px;
}

.main-info-degrees {
    font-size: 20px;
    margin-top: 10px;
}

.second-info-icon {
    font-size: 14px;
}

.main-info {
    font-size: 25px;
}

.main-info-units {
    font-size: 12px;
    color: #aeb0bf;
}

.ownicon-sunset {
    background: url("../ownicons/sunset.svg") no-repeat;
    height: 21px;
    width: 21px;
    margin-top: 1px;
}

.ownicon-pressure {
    background: url("../ownicons/gauge.svg") no-repeat;
    height: 15px;
    width: 15px;
    margin-top: 4px;
}

/******** WEATHER SECTION END ********/

/******** BLOG SECTION ********/
section.blog {
    background: #e8e6e6;
    padding: 60px 60px;
}

section.blog a {
    text-decoration: none;
}

section.blog a:hover .article-img img {
    transform: scale(1.1);
}

section.blog a:hover .blog-article {
    box-shadow: 0 0 10px rgba(0, 0, 0, .45);

}

/** Blog Article **/
article.blog-article {
    background: #fff;
    color: #000;
    border-radius: 15px;
    transition: ease-in 0.15s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.article-img {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.article-img img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    transition: ease-in 0.2s;
}

.article-desc {
    padding: 20px 30px;
}

h5.article-category {
    color: #2048ea;
}

h2.article-title {
    font-weight: 600;
    padding: 7px 0;
    line-height: 150%;
}

p.article-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 180%;
    color: #5e5d5d;
}

p.article-date {
    margin-top: 20px;
    font-size: 14px;
}

@media (min-width: 1200px) {
    h2.article-title {
        font-size: 25px;
    }

    h5.article-category {
        font-size: 17px;
    }
}


@media(max-width: 1199px) {
    h2.article-title {
        font-size: 22px !important;
    }

    h5.article-category {
        font-size: 16px !important;
    }
}

@media(max-width: 1050px) {
    h2.article-title {
        font-size: 20px !important;
    }

    h5.article-category {
        font-size: 15px !important;
    }
}

@media (max-width: 991px) {
    h2.article-title {
        font-size: 25px !important;
    }

    h5.article-category {
        font-size: 17px !important;
    }

    p.article-description {
        font-size: 18px;
    }

    p.article-date {
        margin-top: 20px;
        font-size: 15px;
    }
}



/** Aside Article **/
article.aside {
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    color: #000;
}

article.air-polution {
    background: #3a78ff;
}

article.rain-radar {
    background: #9600ed;
}

.aside-icon {
    font-size: 60px;
}

@media (min-width: 1085px) {
    h2.aside-title {
        font-size: 30px;
        padding: 10px 0;
    }
}

@media (max-width: 1084px) {
    h2.aside-title {
        font-size: 26px;
        padding: 10px 0;
    }
}

p.aside-description {
    font-size: 16px;
}

/******** Smog classes ********/
.very-good {
    color: #00BB02
}

.good {
    color: #9AE700;
}

.moderate {
    color: #FFDE00;
}

.sufficient {
    color: #F37C00;
}

.bad {
    color: #FC0000;
}

.very-bad {
    color: #AA0000;
}

.air-stats {
    width: 100%;
}

.publication {
    background: #fff;
    border-radius: 15px;
}

/******** FOOTER ********/
.footer {
    background: #000;
}

.footer-logo {
    font-size: 25px;
    color: #fff;
}

.footer-logo-img {
    width: 80px;
    height: auto;
}

.footer h4 {
    color: #7d8081;
    padding-bottom: 10px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    padding: 4px 0;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
}

.footer ul li a {
    color: #fff;
}

.footer p {
    font-size: 13px;
    color: #7d8081;
}

@media (max-width: 1170px) {
    .footer ul li {
        font-size: 14px;
    }
}
